.highlight {
    background-color: #ffcc00 !important; /* Változtasd meg a színt, amit szeretnél */
    color: white !important;
  }
  abbr[title]{
    text-decoration: none;
  }
  .selectedHighlight{
    background-color: #8800ff !important; /* Változtasd meg a színt, amit szeretnél */
    color: white !important;
  }
  .react-calendar__month-view__weekdays{
    padding: 10px!important;
  }
  .react-calendar__tile {
    padding: 10px;
  }
 