@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    font-family: "Montserrat", sans-serif;
}
.header a{
    text-decoration: none!important;
    color:inherit;
}
body{
    background-color: rgb(245, 245, 245); /* Szinte fehér alap */
    background-image: 
    linear-gradient(135deg,  
        rgba(0, 128, 128, 0.3) 10%,  
        rgba(255, 255, 255, 0.9) 50%,  
        rgba(0, 128, 128, 0.2) 90%),
    radial-gradient(circle at 80% 50%,  
        rgba(255, 105, 180, 0.5),  
        rgba(255, 255, 255, 0) 50%);
background-size: cover; 
    background-attachment: fixed;
}